<!--
List options:
  model - the Model of each item in the list
  objects - items of the list
  parent - if the list is in the show page of another object, that object is a parent
  q - result of ransack
  legacy_params
 -->
<%#= raise %>
<div class="flex justify-between">
  <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"><%= table_header(model) %></h1>
  <%#= render 'admin/filter/filters_form' %>
</div>
<%= turbo_frame_tag frame_name(model, parent), target: "_top" do %>
  <div class="flex flex-col">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden ">
          <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
            <thead class="bg-gray-100 dark:bg-gray-700">
              <tr>
                <% model.index_methods.each do |method| %>
                  <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    <%= column_header(method) %>
                    <% if is_attribute?(model, method) %>
                      <%# button to is used for post request to merge params with search_form  %>
                      <%= button_to(admin_search_path(model, parent), params: {q: legacy_params[:q]&.merge({s: ["#{method} desc"]}), per: legacy_params[:per] }, data:{turbo_frame: frame_name(model, parent) })  do %>
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path></svg>
                      <% end %>
                      <%= button_to(admin_search_path(model, parent), params: {q: legacy_params[:q]&.merge({s: ["#{method} asc"]}), per: legacy_params[:per]}, data:{turbo_frame: frame_name(model, parent) })  do %>
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7l4-4m0 0l4 4m-4-4v18"></path></svg>
                      <% end %>
                    <% end %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
              <% objects.each do |object| %>
                <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                  <% model.index_methods.each do |method| %>
                    <%= index_td(model, object, method, class: 'py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white') %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-12 flex justify-center items-end">
    <%= paginate objects, remote: true, model:, parent:, legacy_params: %>
    <div class="justify-self-start inline-flex">
      <%= form_with url: admin_search_path(model, parent), data:{turbo_frame: frame_name(model, parent)} do |f| %>
        <% legacy_params.each_key do |qp| %>
          <% if legacy_params[qp].present? %>
            <% next if qp == :per %>
            <% val = legacy_params[qp] %>
            <%= raw hash_as_hidden_fields(legacy_params) %>
          <% end %>
        <% end %>
        <%= f.label :per, 'Per page', class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= f.number_field :per, value: "#{objects.limit_value}", class: "block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
      <% end %>
    </div>
  </div>
  <p> <%= legacy_params %> </p>
  <%= search_form_for q, url: admin_search_path(model, parent), html: { method: :post }, data:{turbo_frame: frame_name(model, parent) } do |f|%>
    <%= raw hash_as_hidden_fields(legacy_params) %>
    <% model.filter_methods.each do |method| %>
      <%= f.label :"#{method}_cont" %>
      <%= f.search_field :"#{method}_cont" %>
    <% end %>
    <%= f.submit %>
  <% end %>
<% end %>